# Serverless directories
.serverless

# golang output binary directory
bin

# golang vendor (dependencies) directory
vendor

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Hidden directories
.*/

# MacOS files
.DS*

# Environment files
*.env

# Do not commit generated code
*.pem

# Do not commit node modules
node_modules/

# Do not commit the example binaries
tools/

# Do not commit NPM package-lock
package-lock.json
